


.test {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
  }
  
  .test {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .test:hover {
    transform: scale(0.8); /* Animation */
}

.test1 {
    color: blue ;
    margin: auto;
}

.test2 {
    text-align: center;
    color: red;
    background-color: black;
    border-radius: 8px;
    transition: transform .2s; /* Animation */
}

.test2:hover {
    transform: scale(0.8); /* Animation */
}


.test3 {
    background-color: dimgrey;
}

.test4 {
    background-color: black;
    transition: transform .2s; /* Animation */
    color: red;
    padding: 6px;
    width: 80px;
    margin: auto;
    border-radius: 10px;
}


.test4:hover {
    transform: scale(1.1); /* Animation */
}

.test5 {
    border-radius: 10px;
    transition: transform .2s; /* Animation */
    width: 100px;
}


.test5:hover {
    transform: scale(1.1); /* Animation */
}


.test6 {
    background-color: red;
    transition: transform .2s; /* Animation */
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width: 100px;
    height: 20px;
}


.test6:hover {
    transform: scale(1.1); /* Animation */
}

.test7 {
    background-color: red;
    transition: transform .2s; /* Animation */
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width: 70px;
    height: 20px;
}


.test7:hover {
    transform: scale(1.1); /* Animation */
}


.omar {
    background-color: black;
    transition: transform .2s; /* Animation */
    color: red;
    padding:8px;
    width: 70px;
    margin: auto;
    border-radius: 10px;
}



.omar:hover {
    transform: scale(1.1); /* Animation */
}

.omar1 {
    background-color: black;
    transition: transform .2s; /* Animation */
    color: red;
    padding:8px;
    width: 65px;
    margin: auto;
    border-radius: 10px;
}



.omar1:hover {
    transform: scale(1.1); /* Animation */
}



